<div class="container">
  <h1 class="mt-5">All articles</h1>

  <div class="text-right mb-5">
    <%= link_to 'New article', new_article_path, class: 'btn btn-primary' %>
  </div>

  <%= render 'article_list', articles: @articles %>

</div>
