<div class="container">
  <h1 class="mt-5">All articles</h1>

  <div class="text-right mb-5">
    <%= link_to 'New article', new_article_path, class: 'btn btn-primary' %>
  </div>

  <table class="table table-border">
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Delete', article_path(article),
          method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>
