<div class="container">
  <h1 class="mt-5 text-center"><%= @user.username %>'s page</h1>
  <div class="text-center">
    <%= gavatar_for(@user, size: 150) %>
  </div>
  <h1 class="mt-5">Articles</h1>

  <%= render 'articles/article_list', articles: @user_articles %>
  <%= bootstrap_paginate @user_articles %>
</div>
