<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Alpha Blog</h1>
    <p>Why need ReactJS to make Admin UI?</p>
    <%= link_to 'Sign up', signup_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
